<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="https://beta.adalab.es/resources/stylesheets/all.css">
  <title>Título</title>
</head>

<body>
  <div class="page">
    <header>
      <h1>Título</h1>
    </header>
    <main class="mt-1">

      <p>Rellena tu plantilla</p>

      <a href="/">Volver</a>

    </main>
  </div>
</body>

</html>
